@keyframes linkHoverIcon {
  0% {
    font-size: 1em;
    text-decoration: none;
  }

  100% {
    filter: url(#svgFilter);
    font-weight: bold;
  }
}

@keyframes linkHoverFont {
  0% {
    font-size: 1em;
    text-decoration: none;
  }

  100% {
    font-size: 1.5em;
    filter: blur(2px);
    font-weight: bold;
    color: $paleBrown;
  }
}

@keyframes modalAnim {
  0% {
    transform:rotate(0deg);
    transform: translateY(-600px);
    opacity: 0;
  }

  100% {
    transform:rotate(360deg);
    transform: translateY(100px);
    opacity: 1;
  }
}

@keyframes modalTextAnim {
  0% {
    font-size: 0.8em;
  }

  100% {
   font-size: 1.2em;
  }
}

@keyframes modalBlur {
  50% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}
