// Typography
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Colors - Default
$blackRussian : #1a1a2e;
$linkWater: #ced4da;
$deepPowderBlue: #1e5f74;
$paleRed: #fbecec;
$paleBrown: #ffcb8e;
$darkBlue: #1d2d50;
$cyanBlue: #636b6f;
$white : #ffffff;
